@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #1daaa0;
}
#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgb(85, 85, 84, 0.05);
}
#wrapper h1 {
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #1daaa0;
}
#wrapper .form_field {
  margin-bottom: 10px;
}
#wrapper .form_field input[type='text'],
#wrapper .form_field input[type='email'],
#wrapper textarea {
  width: 100%;
  border: none;
  padding: 10px;
  background: rgb(246, 244, 244);

}
#wrapper textarea {
  height: 120px;
  resize: none;
}
#wrapper .button input[type='submit'] {
  border: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;

  display: block;
  background: #1c0d53;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}
#wrapper #error_msg {
  margin-bottom: 20px;
  padding: 0px;
  background: #882aa0;
  color: white;
  text-align: center;
  font-size: 12px;

  transition: all 0.5s ease;
}
#confirmation{
  font-size: 20px;
  text-align: center;
  color: gray;
  font-weight: 400;
}
